Fix SNI/Host connection coalescing to meet API expectations for HTTPS Listeners

Currently, if the SNI name and Host header mismatch in an HTTPS request, we always return a 421. However, this shouldn't always be the case.

Per the Gateway API Listener spec: 
```
	// * HTTPS: The Listener Hostname SHOULD match both the SNI and Host header.
	//   Note that this does not require the SNI and Host header to be the same.
	//   The semantics of this are described in more detail below.
	//
	// To ensure security, Section 11.1 of RFC-6066 emphasizes that server
	// implementations that rely on SNI hostname matching MUST also verify
	// hostnames within the application protocol.
	//
	// Section 9.1.2 of RFC-7540 provides a mechanism for servers to reject the
	// reuse of a connection by responding with the HTTP 421 Misdirected Request
	// status code. This indicates that the origin server has rejected the
	// request because it appears to have been misdirected.
	//
	// To detect misdirected requests, Gateways SHOULD match the authority of
	// the requests with all the SNI hostname(s) configured across all the
	// Gateway Listeners on the same port and protocol:
	//
	// * If another Listener has an exact match or more specific wildcard entry,
	//   the Gateway SHOULD return a 421.
	// * If the current Listener (selected by SNI matching during ClientHello)
	//   does not match the Host:
	//     * If another Listener does match the Host, the Gateway SHOULD return a
	//       421.
	//     * If no other Listener matches the Host, the Gateway MUST return a
	//       404.
```

There are some cases (per the conformance test for this feature) where traffic should flow and 200 returned, but we are instead returning a 421. The conformance test can help guide the expected behavior for this feature.

### Acceptance
- Ensure that NGF meets the expectations regarding [SNI/Host connection coalescing](https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1/gateway_types.go#L374-L398) as defined
- Ensure that the [proper Overlapping conditions](https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1/gateway_types.go#L1660-L1712) are set in these scenarios
- Enable the `SupportGatewayHTTPSListenerDetectMisdirectedRequests` feature/conformance test

Potentially related: https://github.com/nginx/nginx-gateway-fabric/issues/4823